<a href="https://colab.research.google.com/github/AlwinXavier2023/ICT-AI-ML/blob/main/12Assignment_on_KNN_%26_NBA_Alwin_Xavier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Import iris data set and do the prediction with NaiveBayes.

In [ ]:
dataset = pd.read_csv('tableConvert.com_bo5sye.csv')

In [ ]:

dataset.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
X = dataset.iloc[:,:4].values
y = dataset['species'].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = classifier.predict(X_test) 
y_pred

array(['setosa', 'setosa', 'setosa', 'virginica', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'setosa', 'virginica',
       'setosa', 'setosa', 'versicolor', 'setosa'], dtype='<U10')

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9

array([[11,  0,  0],
       [ 0,  7,  2],
       [ 0,  1,  9]])

In [ ]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0       setosa           setosa
1       setosa           setosa
2       setosa           setosa
3    virginica        virginica
4       setosa           setosa
5   versicolor        virginica
6    virginica       versicolor
7   versicolor       versicolor
8       setosa           setosa
9   versicolor       versicolor
10  versicolor       versicolor
11      setosa           setosa
12   virginica        virginica
13   virginica        virginica
14   virginica        virginica
15   virginica        virginica
16   virginica        virginica
17   virginica        virginica
18  versicolor        virginica
19  versicolor       versicolor
20  versicolor       versicolor
21  versicolor       versicolor
22   virginica        virginica
23      setosa           setosa
24      setosa           setosa
25   virginica        virginica
26      setosa           setosa
27      setosa           setosa
28  versicolor       versicolor
29      setosa           setosa

Import iris data set and do the prediction with using KNN

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
iris = pd.read_csv("tableConvert.com_bo5sye.csv")
X = iris.iloc[:, :-1].values
y = iris.iloc[:, 4].values
#Split arrays or matrices into random train and test subsets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
'''
print("\n70% train data:")
print(X_train)
print(y_train)
print("\n30% test data:")
print(X_test)
print(y_test)
'''
#Create KNN Classifier
#Number of neighbors to use by default for kneighbors queries.
knn = KNeighborsClassifier(n_neighbors=5)
#Train the model using the training sets
knn.fit(X_train, y_train)
#Predict the response for test dataset
print("Response for test dataset:")
y_pred = knn.predict(X_test)
print(y_pred)

Response for test dataset:
['versicolor' 'virginica' 'versicolor' 'virginica' 'versicolor' 'setosa'
 'versicolor' 'setosa' 'setosa' 'versicolor' 'versicolor' 'virginica'
 'virginica' 'setosa' 'setosa' 'setosa' 'virginica' 'setosa' 'virginica'
 'versicolor' 'versicolor' 'versicolor' 'setosa' 'setosa' 'versicolor'
 'versicolor' 'virginica' 'virginica' 'setosa' 'versicolor']

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[10,  0,  0],
       [ 0, 11,  0],
       [ 0,  1,  8]])

In [ ]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0    virginica       versicolor
1    virginica        virginica
2   versicolor       versicolor
3    virginica        virginica
4   versicolor       versicolor
5       setosa           setosa
6   versicolor       versicolor
7       setosa           setosa
8       setosa           setosa
9   versicolor       versicolor
10  versicolor       versicolor
11   virginica        virginica
12   virginica        virginica
13      setosa           setosa
14      setosa           setosa
15      setosa           setosa
16   virginica        virginica
17      setosa           setosa
18   virginica        virginica
19  versicolor       versicolor
20  versicolor       versicolor
21  versicolor       versicolor
22      setosa           setosa
23      setosa           setosa
24  versicolor       versicolor
25  versicolor       versicolor
26   virginica        virginica
27   virginica        virginica
28      setosa           setosa
29  versicolor       versicolor